@media (max-width: 500px) {
    .blog {
        flex-direction: column;
    }
}
@media (min-width: 500px) {
    .blog {
    flex-flow: row wrap;
    }
}
.blog {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}