<mat-card>
    <mat-card-title style="text-align: center">
        Article Form
    </mat-card-title>
    <form [formGroup]="articleForm" class="article-form" (submit)="submitArticle()">
        <mat-form-field appearance="outline" style="flex: 100%">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="title.getError('minlength') && !title.getError('pattern')">should be at least {{globals.AtricleValidationGlobals.title.minLength}} letters</mat-error>
            <mat-error *ngIf="title.getError('maxlength') && !title.getError('pattern')">should be at most {{globals.AtricleValidationGlobals.title.maxLength}} letters</mat-error>
            <mat-error *ngIf="title.getError('pattern')">you have use unpermitted letters</mat-error>
        </mat-form-field>

        <mat-form-field cdkTextareaAutosize appearance="outline" style="flex: 100%">
            <mat-label>Content</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="auto" cdkAutosizeMinRows="10" formControlName="content"></textarea>
            <mat-error *ngIf="content.getError('minlength') && !content.getError('pattern')">should be at least {{globals.AtricleValidationGlobals.content.minLength}} letters</mat-error>
            <mat-error *ngIf="content.getError('maxlength') && !content.getError('pattern')">should be at most {{globals.AtricleValidationGlobals.content.maxLength}} letters</mat-error>
            <mat-error *ngIf="content.getError('pattern')">you have use unpermitted letters</mat-error>
            <mat-hint align="end">{{content.value.length}}/{{globals.AtricleValidationGlobals.content.maxLength}}</mat-hint>
        </mat-form-field>
        <mat-form-field style="flex: 100%" appearance="outline">
            <mat-label>Languages</mat-label>
            <mat-chip-list #tagsChipList formControlName="categories">
                <mat-chip *ngFor="let tag of tags" removable="true" (click)="onSelectChip(tag)"
                    selectable="true" (removed)="removeTag(tag)">
                    {{tag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <mat-autocomplete #tagsAutocomplete="matAutocomplete" (optionSelected)="onSelectTag($event)">
                    <mat-option *ngFor="let option of tagsOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>

                <input #tagInput formControlName="categoriesInput" [matAutocomplete]="tagsAutocomplete" [matChipInputFor]="tagsChipList"
                    [matChipInputSeparatorKeyCodes]="seperationKeys" MatChipAddOnBlur="true"
                    (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
        </mat-form-field>
        <button mat-raised-button color="accent" style="flex: 1;">Cancel</button>
        <button mat-raised-button color="primary" style="flex: 3;" [disabled]="articleForm.invalid">Post</button>
    </form>
</mat-card>