<mat-card>
    <form class="bio-form" [formGroup]="boiForm" (submit)="submitForm()">

        <mat-form-field style="flex: 40%" appearance="outline">
            <mat-label>Firstname</mat-label>
            <input matInput formControlName="firstname">
            <mat-error *ngIf="firstname.getError('minlength') && !firstname.getError('pattern')">should be at least
                {{globals.UserValidationGlobals.firstname.minLength}} letters</mat-error>
            <mat-error *ngIf="firstname.getError('maxlength') && !firstname.getError('pattern')">should be at most
                {{globals.UserValidationGlobals.firstname.maxLength}} letters</mat-error>
            <mat-error *ngIf="firstname.getError('pattern')">you have used unpermetted letters</mat-error>
        </mat-form-field>

        <mat-form-field style="flex: 40%" appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput formControlName="lastname">
            <mat-error *ngIf="lastname.getError('minlength') && !lastname.getError('pattern')">should be at least
                {{globals.UserValidationGlobals.lastname.minLength}} letters</mat-error>
            <mat-error *ngIf="lastname.getError('maxlength') && !firstname.getError('pattern')">should be at most
                {{globals.UserValidationGlobals.firstname.maxLength}} letters</mat-error>
            <mat-error *ngIf="lastname.getError('pattern')">you have used unpermetted letters</mat-error>
        </mat-form-field>

        <mat-form-field style="flex: 40%" appearance="outline">
            <mat-label>Email</mat-label>
            <input disabled="true" matInput type="email">
        </mat-form-field>

        <mat-form-field style="flex: 100%" appearance="outline">
            <mat-label>Languages</mat-label>
            <mat-chip-list disabled="true" #languagesChipList>
                <mat-chip *ngFor="let language of languages" removable="true" (click)="onSelectChip(language)"
                    selectable="true" (removed)="removeLanguage(language)">
                    {{language}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <mat-autocomplete #languagesAutocomplete="matAutocomplete" (optionSelected)="onSelectLanguage($event)">
                    <mat-option *ngFor="let option of languageOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>

                <input #languagesInput [matAutocomplete]="languagesAutocomplete" [matChipInputFor]="languagesChipList"
                    [matChipInputSeparatorKeyCodes]="seperationKeys" MatChipAddOnBlur="true"
                    (matChipInputTokenEnd)="addLanguage($event)">
            </mat-chip-list>
        </mat-form-field>
        <button mat-raised-button color="accent" style="flex: 1" type="button" onclick="window.history.back()">Back</button>
        <button mat-raised-button color="primary" style="flex: 3" type="submit" [disabled]="boiForm.invalid">Save</button>
    </form>
</mat-card>